<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737285387124-0sfrq5u8u7v29ot0ggja7atbkqkg4sp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737285387124-0sfrq5u8u7v29ot0ggja7atbkqkg4sp4</string>
	<key>API_KEY</key>
	<string>AIzaSyAarHzcisu-QVjJ14jJx9L91aBe4Sxt3WI</string>
	<key>GCM_SENDER_ID</key>
	<string>737285387124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bugrahan.EatMoreVegetable</string>
	<key>PROJECT_ID</key>
	<string>know-what-you-eat-fc67a</string>
	<key>STORAGE_BUCKET</key>
	<string>know-what-you-eat-fc67a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737285387124:ios:2311d6c03a78682f7f7221</string>
	<key>DATABASE_URL</key>
	<string>https://know-what-you-eat-fc67a.firebaseio.com</string>
</dict>
</plist>